body{
    font-family: arial; 
    font-size: 20px; 
    background: #bdacd1;
    color: #8B008B;
}

h1.intro{
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: #8B008B;
}

h2.intro {
	font-style: normal;
	font-size: 18px;
	color: #8B008B;

}