body{
    font-family: arial; 
    font-size: 20px; 
    background:  #ff6666;
    color: #ffb3b3;
}

h1.intro{
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: #ffb3b3;
}

h2.intro {
	font-style: normal;
	font-size: 18px;
	color: #ffb3b3;
}
